
body{
    background: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}

.box{
 background: white;
 max-width: 400px;
 min-height: 350px;
 padding: 30px;
 border-radius: 10px;
 box-shadow: 0px 10px 20px rgba(0 , 0, 0, 0.2);
 text-align: center;
}
h1{
    font-size: 25px;
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}
.form{
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;

}
.input{
   padding: 7px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 500;
   border: 1px solid #007bff;
   
}
.button{
    padding: 9px;
    background: #007bff;
    color: white;
    border-radius: 5px;
    border: 1px solid #007bff;
    border: none;
    cursor: pointer;
    &:hover{
        transform: scale(0.9);
        border: 1px solid #007bff;
    }
}
.list{
    list-style: none;
    padding: 0;
    margin-top: 30px;
    
}
.list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f9fa;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.list li button{
    cursor: pointer;
    background: #007bff;
    padding: 7px;
    color: white;
    border-radius: 5px;
    border: 1px solid #007bff;
    border: none;
    &:hover{

        border: 1px solid #007bff;
    }
} 